.App {
  max-width: 1000px;
  min-height: 1000px;
  margin:auto;
  background-color:white;
}

.App-logo {
  height: 100px;
}

.rc-menu-item{
  font-size: 25px;
}

.rc-menu-root{
  max-width: 540px;
  float:right;
}

ul{
  list-style: none;
}

.productContainer{
  border:1px solid darkgrey;
  width: 95%;
}

.productImage{
  max-height: 150px;
  max-width:150px;
  margin-top: 50px;
}

table{
  margin:auto;
}

thead{
  font-weight: bold;
}

td:first-child{
  min-width: 225px;
}

td:nth-child(2){
  min-width: 75px;
}

@media screen and (max-width : 768px){
  h3{
    margin:auto !important;
  }
  h5{
    margin:auto !important;
  }
}

@media screen and (max-width : 1000px){
  .rc-menu-item{
    font-size: 16px
  }
  .rc-menu-root{
    max-width: 410px;
    float:right;
  }
  .productImage{
    max-height: 100px;
    max-width:100px;
  }
}

.pageContainer{
  text-align: center;

}

.rc-menu-item-selected{
  background-color: #b1e8ff !important;
}

.menuButton{
  border: 1px solid black;
  background-color: transparent;
  color: black;
  width: 100%;
  height: 60px;
}

.xs-menu-position{
  position: absolute;
  right: 15px;
  background-color: white;
  top: 80px;
}

.App-header {
  background-color: #eaf6ff;
  height: 120px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
 h1 {
  font-size: 75px;
  font-family: "Lucida Sans Unicode";
 }

h3 {
  font-size: 30px;
  align: center;
  margin-left: 200px ;
  margin-right: 200px;
  margin-top: 100px;
}

h5 {
  color: black;
  font-size: 25px;
  font-family:"serif";
  align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

br {
  line-height: 50px;
}

#storeOpen.open {
  background: green;
}

#storeOpen {
  width: 25px;
  height: 25px;
  background: red;
  display: inline-block;
}

#storelist {
  width: 100%;
  overflow-y: auto;
  max-height: 300px;

}

.storeName {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.storeIsOpen {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
}

.openingTimes {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: 1px solid;
  padding-left: 5px;
}

.openingTimes > span {
  color: red;
}

.openingTimes > .open {
  color: green;
  font-size: 15px;
}

.storeWrap, .storeListHeaders{
  display: grid;
  grid-template-columns: 40% 30% 20% 10%;
  margin-bottom: 5px;

}

#defaultStoreDiv {
  color: black;
  margin-top: 10px;
  margin-left: 7px;
}

#storeHeaders {
  display: grid;
  grid-template-columns: 40% 30% 20% 10%;
  border-bottom: 2px solid;
}

.storeHeader {
  border-left: 1px solid;
  padding-left: 5px;
  font-size: 20px;
  font-family: "arial black";
}